@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');
* {
  font-family: 'Public Sans', sans-serif;
  box-sizing: border-box !important;
}
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background-color: var(--bs-card-bg);
}
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(
    72.47deg,
    #7367f0 22.16%,
    rgba(115, 103, 240, 0.7) 76.47%
  );
  height: 300px;
}
.app-brand-link .logo-img {
  max-height: 36px;
}
.menu-vertical .menu-item .menu-link {
  padding: .5rem 1rem !important;
}
.menu-icon {
  font-size: 1rem !important;
}
.subnav-div {
  margin-left: 1.5rem;
}
.menu-vertical .app-brand {
  margin: 1rem 0.875rem 1rem !important;
}
.menu-inner-shadow {
  top: 5.4375rem !important;
}
.container-xxl {
  padding: 0 !important;
}
.layout-navbar-fixed .layout-wrapper:not(.layout-horizontal):not(.layout-without-menu) .layout-page {
  padding-top: 0 !important;
}
.layout-navbar-fixed .layout-wrapper:not(.layout-horizontal) .layout-page:before {
  width: 0 !important;
}
.apexcharts-menu-icon {
  display: none !important;
}
div.dataTables_wrapper div.dataTables_filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.layout-navbar .navbar-nav-right {
  padding: 0 1rem;
}
.dt-button {
  padding: .5rem 1rem;
  background: #f8f7fa;
  outline: none;
  border: none;
}
.menu-open {
  padding: 0 1rem !important;
}
footer {
  padding: 2.5rem 2.5rem 0;
}
.header-wrap {
  position: relative;
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50% 90%;
  background-image: linear-gradient(
      45deg,
      rgba(115, 103, 240, .25),
      rgba(115, 103, 240, 0.7)
    ),
    url("../img/backgrounds/s2.webp");
  border-radius: 12px;
  margin-bottom: 96px;
  .vendor-avatar {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    position: absolute;
    bottom: -65px;
    right: 65px;
    background: #f1f1f1;
    border: 4px solid #7367f0;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      opacity: .3;
      max-height: 70px;
      filter: grayscale(1);
    }
  }
}
.user-wrapper {
  width: 100%;
  height: 100%;
  background: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  img {
    opacity: .3;
    filter: grayscale(1);
    max-width: 50%;
  }
}
@media (max-width: 414px) {
  .header-wrap {
    height: 160px;
    .vendor-avatar {
      width: 100px;
      height: 100px;
      right: 50px;
      bottom: -50px;
      img {
        max-height: 50px;
      }
    }
  }
}
.analatics-wrap {
  width: 100%;
  padding: 94px 1.5rem 0;
  h2 {
    font-size: 20px;
    margin-bottom: 32px;
  }
  .analatics-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
    .analatic-card {
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-shadow: 0 0.125rem 0.25rem rgba(165, 163, 174, .3);
      padding: 1.25rem;
      border-radius: 8px;
      background: var(--bs-card-bg);
      .text {
        h4 {
          font-size: 16px;
          font-weight: 600;
        }
        span {
          font-size: 18px;
          font-weight: 600;
        }
      }
      .icon {
        transition: all .5s ease-in-out !important;
        min-width: 50px;
        min-height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background: linear-gradient(
          72.47deg,
          #7367f0 22.16%,
          rgba(115, 103, 240, 0.7) 76.47%
        );
        i {
          color: #fff;
          font-size: 18px;
        }
      }
      &:hover {
        background: linear-gradient(
          72.47deg,
          #7367f0 22.16%,
          rgba(115, 103, 240, 0.7) 76.47%
        );
        .text {
          h4 {
            color: white;
          }
          span {
            color: white;
          }
        }
        .icon {
          background: #fff;
          i {
            color: #7367f0;
          }
        }
      }
    }
    @media (max-width: 992px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 768px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
.charts-area {
  width: 100%;
  margin: 32px 0;
  .row {
    padding: 0 12px;
    justify-content: space-between;
    @media (max-width: 768px) {
      flex-direction: column;
      gap: 24px;
    }
    .card {
      height: fit-content;
    }
    .requests-anal {
      width: calc(50% - 16px);
      display: flex;
      flex-direction: column;
      gap: 32px;
      padding: 0;
      @media (max-width: 768px) {
        width: 100%;
      }
      .card {
        width: 100%;
      }
    }
    .card {
      width: calc(50% - 16px);
      padding: 1.5rem;
      background: var(--bs-card-bg);
      box-shadow: 0 0.125rem 0.25rem rgba(165, 163, 174, .3);
      @media (max-width: 768px) {
        width: 100%;
      }
      .chart-head {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;
        h5 {
          margin-bottom: 0;
        }
        a {
          background: linear-gradient(
            72.47deg,
            #7367f0 22.16%,
            rgba(115, 103, 240, 0.7) 76.47%
          );
          padding: .5rem 1rem;
          border-radius: 4px;
          color: #fff;
        }
      }
      .col-sm-6 {
        padding: 0;
        justify-content: center;
        display: flex;
        flex-direction: column;
        .chart-name {
          font-size: 12px;
          text-align: center;
        }
      }
    }
  }
}
.Staff-stats {
  .row {
    padding: 0 12px;
    .card {
      padding: 2.5rem 1.5rem;
      background: var(--bs-card-bg);
      box-shadow: 0 0.125rem 0.25rem rgba(165, 163, 174, .3);
    }
  }
}
#template-customizer {
  display: none !important;
}
.profile-section {
  padding: 3rem 2.25rem 0 !important;
  .head-title {
    font-size: 24px;
    text-align: center;
    margin: 4rem 0 2rem;
  }
  .card {
    background: var(--bs-card-bg);
    box-shadow: 0 0.125rem 0.25rem rgba(165, 163, 174, .3);
    padding: 2rem;
    form {
      .form-group {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
        gap: 2rem;
        .input-field {
          display: flex;
          flex-direction: column;
          gap: 8px;
          input {
            background: none;
            outline: none;
            border: 1px solid #dbdade;
            border-radius: 4px;
            height: 40px;
            padding: 0 .75rem;
            position: relative;
          }
          .input-group5 {
            display: flex;
            input {
              width: calc(100% - 32px);
              border-radius: 4px 0 0 4px;
            }
            .password-show {
              width: 32px;
              height: 100%;
              border: 1px solid #dbdade;
              border-left: none;
              border-radius: 0 4px 4px 0;
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;
              i {
                font-size: 14px;
                color: #939292;
              }
            }
          }
        }
      }
      .image-change {
        padding: 2rem 0 0 0;
        margin-bottom: 2rem;
        width: 100%;
        h3 {
          font-size: 16px;
        }
        .image-container {
          height: 123px;
        }
      }
      button {
        width: 160px;
        height: 40px;
        outline: none;
        border: none;
        border-radius: 4px;

        color: #fff;
        background-color: #7367f0;
        box-shadow: 0 0.125rem 0.25rem rgba(165, 163, 174, .3);
        &:hover {
          color: #fff !important;
          background-color: #685dd8 !important;
        }
        @media (max-width: 414px) {
          margin-top: 2rem;
        }
      }
    }
  }
}
.section-all {
  padding: 2.5rem !important;
  @media (max-width: 414px) {
    padding: 2.5rem 1.5rem !important;
  }
  .notify-row {
    border-bottom: 1px solid #eff2f7;
    padding: 1rem;
    .describtion {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 8px;
    }
    &:last-child {
      border-bottom: none;
    }
  }
  .avatar {
    min-width: 50px !important;
    min-height: 50px !important;
    border-radius: 50%;
    img {
      border-radius: 50%;
    }
  }
  .head-title {
    font-size: 24px;
    margin: 4rem 0 2rem;
    @media (max-width: 414px) {
      font-size: 22px;
    }
  }
  .card {
    background: var(--bs-card-bg);
    box-shadow: 0 0.125rem 0.25rem rgba(165, 163, 174, .3);
    padding: 2rem;
    .addemp {
      width: 100%;
      .addemployeeopenmodel {
        padding: .75rem;
        border: none;
        border-radius: 4px;
        color: #fff;
        color: #fff;
        margin-bottom: 1rem;
        background-color: #7367f0;
        box-shadow: 0 0.125rem 0.25rem rgba(165, 163, 174, .3);
        &:hover {
          background-color: #685dd8 !important;
        }
      }
    }
    table {
      .status {
        background: #685dd8;
        padding: .25rem;
        border-radius: 4px;
        color: #fff;
        font-size: 12px;
      }
      .form-check-input {
        width: 16px;
        height: 16px;
      }
      button,
      .d-btn {
        margin: 0 !important;
        padding: .5rem;
        border: none;
        color: #fff;
        &.delete {
          i {
            color: #ff0000;
          }
        }
        &.editButton {
          i {
            color: #afacb8;
          }
        }
        &.activate-btn {
          i {
            color: #7367f0;
          }
        }
        &.reserve {
          color: #a1f449;
        }
      }
      a {
        color: #6f6b7d;
      }
      .whats-link {
        font-size: 24px;
      }
    }
  }
}
@media (max-width: 414px) {
  .section-all {
    .card {
      padding: 2rem 1rem !important;
    }
  }
}
#addNewEmployee {
  .modal-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #eff2f7;
    border-top-right-radius: calc(0.4rem - 1px);
    border-top-left-radius: calc(0.4rem - 1px);
    button {
      background: none;
      outline: none;
      border: none;
      i {
        font-size: 18px;
      }
    }
  }
  .modal-body {
    form {
      .image-change {
        margin-bottom: 2.5rem;
        h3 {
          font-size: 18px;
        }
      }
      .form-group {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
        border-bottom: 1px solid #eff2f7;
        padding-bottom: 1rem;
        @media (max-width: 768px) {
          grid-template-columns: repeat(1, 1fr);
        }
        .input-field {
          display: flex;
          flex-direction: column;
          gap: 8px;
          label {
            font-size: 13px;
          }
          input,
          select {
            background: none;
            outline: none;
            border: 1px solid #dbdade;
            border-radius: 4px;
            height: 40px;
            padding: 0 .75rem;
            font-size: 13px;
            position: relative;
          }
          select {
            appearance: none;
            cursor: pointer;
          }
        }
      }
      button {
        width: 160px;
        height: 40px;
        outline: none;
        border: none;
        border-radius: 4px;
        color: #fff;
        background-color: #7367f0;
        box-shadow: 0 0.125rem 0.25rem rgba(165, 163, 174, .3);
        margin-top: 1rem;
        &:hover {
          color: #fff !important;
          background-color: #685dd8 !important;
        }
      }
    }
  }
}
.wizard {
  .form {
    .image-change {
      margin-bottom: 2.5rem;
      h3 {
        font-size: 18px;
      }
    }
    .form-group {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      @media (max-width: 568px) {
        grid-template-columns: repeat(1, 1fr);
      }
      gap: 1.5rem;
      border-bottom: 1px solid #eff2f7;
      padding-bottom: 1rem;
      .input-field {
        display: flex;
        flex-direction: column;
        gap: 8px;
        label {
          font-size: 13px;
        }
        input,
        select {
          background: none;
          outline: none;
          border: 1px solid #dbdade;
          border-radius: 4px;
          height: 40px;
          padding: 0 .75rem;
          font-size: 13px;
          position: relative;
        }
        select {
          appearance: none;
          cursor: pointer;
        }
      }
    }
    button {
      width: 160px;
      height: 40px;
      outline: none;
      border: none;
      border-radius: 4px;
      color: #fff;
      background-color: #7367f0;
      box-shadow: 0 0.125rem 0.25rem rgba(165, 163, 174, .3);
      margin-top: 1rem;
      &:hover {
        color: #fff !important;
        background-color: #685dd8 !important;
      }
    }
  }
  .nav-tabs {
    position: relative;
    margin-bottom: 0;
    border-bottom-color: #e0e0e0;
  }
}
.wizard > div.wizard-inner {
  position: relative;
}
.connecting-line {
  height: 2px;
  background: #e0e0e0;
  position: absolute;
  width: 80%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  z-index: 1;
}
.card .nav.nav-tabs {
  margin: 0 !important;
}
.wizard .nav-tabs > li.active > a,
.wizard .nav-tabs > li.active > a:hover,
.wizard .nav-tabs > li.active > a:focus {
  color: #555555;
  cursor: default;
  border: 0;
  border-bottom-color: transparent;
}
span.round-tab {
  width: 70px;
  height: 70px;
  line-height: 70px;
  display: inline-block;
  border-radius: 100px;
  background: #fff;
  border: 2px solid #e0e0e0;
  z-index: 2;
  position: absolute;
  left: 0;
  text-align: center;
  font-size: 25px;
}
span.round-tab i {
  color: #555555;
}
.wizard li.active span.round-tab {
  background: #fff;
  border: 2px solid #685dd8;
}
.wizard li.active span.round-tab i {
  color: #685dd8;
}
span.round-tab:hover {
  color: #333;
  border: 2px solid #333;
}
.wizard .nav-tabs > li {
  width: 25%;
}
.wizard li:after {
  content: " ";
  position: absolute;
  left: 46%;
  opacity: 0;
  margin: 0 auto;
  bottom: 0px;
  border: 5px solid transparent;
  border-bottom-color: #685dd8;
  transition: 0.1s ease-in-out;
}
.wizard li.active:after {
  content: " ";
  position: absolute;
  left: 46%;
  opacity: 1;
  margin: 0 auto;
  bottom: 0px;
  border: 10px solid transparent;
  border-bottom-color: #685dd8;
}
.wizard .nav-tabs > li a {
  width: 70px;
  height: 70px;
  margin: 20px auto;
  border-radius: 100%;
  padding: 0;
}
.wizard .nav-tabs > li a:hover {
  background: transparent;
}
.wizard .tab-pane {
  position: relative;
  padding-top: 50px;
}
.wizard h3 {
  margin-top: 0;
}
@media (max-width: 585px) {
  .wizard {
    width: 100%;
    height: auto !important;
  }
  span.round-tab {
    font-size: 16px;
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
  .wizard .nav-tabs > li a {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
  .wizard li.active:after {
    content: " ";
    position: absolute;
    left: 35%;
  }
  .tab-content {
    padding: 1.5rem .5rem !important;
  }
}
a {
  text-decoration: none !important;
}
